<div class="${bid}">

  <div class="col3hidden entryRow" data-dojo-attach-point="rowNode">

    <div class="flex-wrapper">
      <div class="entryRowCol1 vmiddle" data-dojo-attach-point="progressNode">
        <div class="${bid}__outerProgressBar" data-dojo-attach-point="__progressBarOuter">
          <div data-dojo-attach-point="__progressBar" class="${bid}__progressBar"></div>
        </div>
      </div>
      <div class="entryName vmiddle">
        <span data-dojo-attach-point="nameNode"></span>
        <a data-dojo-attach-point="nameNodeLink"></a>
      </div>
    </div>
    <div>


      <div class="entryRowCol3 vmiddle" data-dojo-attach-point="col3Node"></div>
      <div class="entryControls vmiddle" data-dojo-attach-point="col4Node">
        <span data-dojo-attach-point="badgeNode" class="badge" style="cursor: pointer" data-dojo-attach-event="click:openCommentDialog"></span>
      </div>
      <div class="entryControls vmiddle" data-dojo-attach-point="buttonsNode"></div>
    </div>
  </div>

</div>
