.escaSearch {
    overflow: hidden;
    padding: 0px;
    height: 100%;
}

.escaSearch__sidebar,
.escaSearch__main {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.escaSearch__sidebar {
    background: #f5f5f5;
}

.escaSearch__catalogList {
    padding-top: 1em;
    display: none;
}

.escaSearch__controls a {
    color: #333;
}

.escaSearch__sidebar .list-group {
    font-size: 14px;
}

.escaSearch__sidebar .list-group .list-group-item {
    padding: 10px 16px;
}

.escaSearch__sidebar .list-group .list-group-item:hover {
    background-color: #fff;
}

.escaSearch--list .escaSearch__catalog {
    display: none;
}

.escaSearch--list .escaSearch__catalogList {
    display: block;
}

.escaSearch--noListAvailable .escaSearch__back {
    display: none;
}

.escaSearch__catalogs {
    height: 100%;
}

.escaSearch__selected_catalog {
    font-weight: bold;
    font-size: 18px !important;
    background: white;
    padding: 10px;
    margin: 13px -4px 10px 0px;
    border-right: 4px solid #1c7cd1;
}

.escaSearch__catalogMetadata {
    padding: 10px;
}

.escaSearch__catalogMetadata .rdformsPresenter .rdformsField {
    background: transparent;
}

.escaSearch--catalogs .escaSearch__placeholder,
.escaSearch__catalogs {
    display: none;
}

.escaSearch--catalogs .escaSearch__catalogs {
    display: block;
}


