<div>
  <div class="col1hidden col3hidden entryRow" data-dojo-attach-point="rowNode">
    <div class="flex-wrapper">
      <div class="entryRowCol1 vmiddle">
        <i data-dojo-attach-point="foafNode" class="fa fa-users fa-lg" style="display: none"></i>
        <i data-dojo-attach-point="cpNode" class="fa fa-phone fa-lg"></i>
      </div>
      <div class="entryName vmiddle">
        <span data-dojo-attach-point="nameNode"></span>
        <a data-dojo-attach-point="nameNodeLink"></a>
      </div>
    </div>
    <div>
      <div class="entryRowCol3 vmiddle" data-dojo-attach-point="col3Node"></div>
      <div class="entryControls vmiddle" data-dojo-attach-point="buttonsNode"></div>
    </div>
  </div>
</div>
