.modal-body .inUseBy {
    margin-left: 2em;
}

.downloadCatalog .form-control[readonly] {
    cursor: text;
    outline: none;
    background-color: white;
}

.downloadCatalog .exportURLWrap {
    padding-left: 1em;
}

.downloadCatalog .downloadButton,
.downloadCatalog .selectFormat {
    margin-left: 1em;
}

.downloadColumn {
    margin-top: 20px;
}

.downloadColumn .downloadButton {
    padding: 20px;
    background-color: #1c7cd1;
    color: #fff !important;
}

.downloadColumn .downloadButton:hover {
    background-color: #337ab7 !important;
}

.downloadColumn .downloadButton:focus{
    background-color: #337ab7 !important;
    border: 1.5px solid orange; 
}

.downloadColumn .downloadButton:active{
    background-color: #1f5789  !important;
}
