<div class="dataset">
    <div class='row'>
        <div class='col-md-9 col-xs-12' data-dojo-attach-point='details'></div>
        <div class='col-md-3 col-xs-12' data-dojo-attach-point='sidebar'></div>
    </div>

    <div data-dojo-attach-point="catalogBlock" class="panel panel-default">
        <div class="panel-heading" data-dojo-attach-point="nls">datasetBelongsToCatalog</div>
        <table class="table publicList">
            <tr data-dojo-attach-point="catalogRow" data-dojo-attach-event="click: onCatalogClick">
                <td><div class="min-height-row" data-dojo-attach-point="catalog"></div></td>
                <td><div class="min-height-row">
                    <span data-dojo-attach-event="click: onCatalogClick">
                    <span class="fa fa-info-circle"></span></span>
                </div></td>
            </tr>
        </table>
    </div>
    <div data-dojo-attach-point="distributionBlock" class="panel panel-default">
        <div class="panel-heading" data-dojo-attach-point="nls">accessDistributionsOfDataset</div>
        <table class="table publicList" data-dojo-attach-point="distributions"></table>
    </div>
    <div data-dojo-attach-point="resultBlock" class="panel panel-default" style="display:none;">
        <div class="panel-heading" data-dojo-attach-point="nls">resultsOfDataset</div>
        <table class="table publicList" data-dojo-attach-point="results"></table>
    </div>
    <div data-dojo-attach-point="detailsBlock" class="panel panel-default">
        <div class="panel-heading" data-dojo-attach-point="nls">datasetDetails</div>
        <div class="panel-body">
            <div data-dojo-attach-point="presenter" data-dojo-props="compact: true"
                 data-dojo-type="rdforms/view/Presenter"></div>
        </div>
    </div>

    <div data-dojo-attach-point="infoDialog"
         data-dojo-type="entryscape-commons/rdforms/RDFormsPresentDialog"
         data-dojo-props="maxWidth: 800">
    </div>

    <div data-dojo-attach-point="distributionInfoDialog"
         data-dojo-type="entryscape-catalog/public/DistributionDialog"
         data-dojo-props="maxWidth: 800">
    </div>
</div>