<div>
    <div class="entryRow" data-dojo-attach-event="onClick: edit">

        <div class="distributionTitle vmiddle" data-dojo-attach-point="titleTd">
            <span data-dojo-attach-point="titleNode"></span>
            <!--<span class ="label label-primary" data-dojo-attach-point="formatlabel"></span>-->
            <span data-dojo-attach-point="urlNode"></span>
            <div data-dojo-attach-point="formatNode" class="distributionFormat"></div>
        </div>

<div class="flex-wrapper">


        <div class="distributionModificationDate entryRowCol3 vmiddle"
             data-dojo-attach-point="modifiedNode"></div>
        <div class="commentCol vmiddle" data-dojo-attach-point="warning">
       <span class="warningCol">
        <i class="fa fa-exclamation-triangle" data-dojo-attach-point="warningNode" aria-hidden="true"
           data-toggle="popover" data-trigger="hover" data-placement="left" style="display: block"></i></span>
        </div>

    <div class="distributionControls entryControls vmiddle flex-wrapper">
        <div data-dojo-attach-point="buttonMenuNode"></div>
        <div data-dojo-attach-point="dialogContainer"></div>
    </div>
</div>
    </div>
</div>
